# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.idea

# Coverage
coverage/

# Pubspec
pubspec.lock

# Codegen 
*.*.dart
*.g.dart
*.received.*
generated_*

# Other files
.old.dart