name: Auto-Deploy to pub.dev

on:
  workflow_run:
    workflows: ["Build and test"]
    types:
      - completed

jobs:
  check-release-tag:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PUB_SPEC_ID }}
      - name: Auto-Deploy to pub.dev
        run: |
          ./bash/push_release.sh
        shell: bash